body {
    background: linear-gradient(to right, #b92b27, #1565c0);
    font-family: 'Roboto', sans-serif;
}

.main-div {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 900px;
    margin: 50px auto;
}

.logo {
    height: 100px;
}

.btn {
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: 500;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #004085;
}

.btn-add {
    width: 100%;
}

.table-hover tbody tr:hover {
    background-color: #f1f1f1;
}

.table-light {
    background-color: #f8f9fa;
}

.table .btn {
    padding: 4px 8px;
    /* Smaller padding */
    font-size: 0.60rem;
    /* Smaller font size */
}

.table td,
.table th {
    vertical-align: middle;
    padding: 3px;
}

.table input.form-control,
.table select.form-select {
    height: auto; /* Adjust height to fit the row */
    font-size: 0.7rem; /* Adjust font size if needed */
}


h1 {
    font-size: 2.5rem;
    font-weight: 700;
}

th {
    font-size: 1.2rem;
    font-weight: 600;
}

td {
    font-size: 1rem;
}

#insertProductRow {
    margin-top: 20px;
    opacity: 0.8;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    bottom: -10px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#insertProductRow table {
    margin-bottom: 0;
}

#insertProductRow:hover {
    opacity: 1;
    transform: translateY(-5px);
}

@media (max-width: 768px) {
    .main-div {
        padding: 15px;
    }

    h1 {
        font-size: 2rem;
    }

    .logo {
        height: 40px;
    }
}